**Basic List Operations**

1. Create a list of five numbers and append a new number to it. Print the updated list.

In [ ]:
#numbers = [23, 26, 11, 22, 4]
#numbers.append(1)
#print(numbers)

[23, 26, 11, 22, 4, 1]

2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

In [ ]:
#list1 = [1, 2, 3]
#list2 = [4, 5, 6]
#list1.extend(list2)
#print(list1)

[1, 2, 3, 4, 5, 6]

3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript",
"Ruby"].

In [ ]:
#languages = ["Java", "C++", "JavaScript", "Ruby"]
#languages.insert(2, "Python")
#print(languages)

['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

In [ ]:
#numbers = [10, 20, 30, 10, 40]
#numbers.remove(10)
#print(numbers)

[20, 30, 10, 40]

5. Use the pop() method to remove the last element from [100, 200, 300, 400] and
print the modified list.

In [ ]:
#originalList = [100, 200, 300, 400]
#removed_element = originalList.pop()
#print("modified list:" , originalList)

modified list: [100, 200, 300]

**Intermediate List Operations**

6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

In [ ]:
#numbers_list =  [5, 10, 5, 20, 5, 30]
#count_of_repeated_number = numbers_list.count(5)
#print("5 is repeated", count_of_repeated_number, "times")

5 is repeated 3 times

7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order

In [ ]:
#my_list = [9, 1, 8, 3, 5]
#my_list.sort()
#print("ascending order:", my_list)
#my_list.sort(reverse=True)
#print("descending order:", list)

ascending order: [1, 3, 5, 8, 9]
descending order: [9, 8, 5, 3, 1]

8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method

In [ ]:
#list_of_fruits = ["apple", "banana", "cherry"]
#list_of_fruits.reverse()
#print(list_of_fruits)

['cherry', 'banana', 'apple']

9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
copied list and print both lists

In [ ]:
#original_list = [1, 2, 3, 4, 5]
#copied_list = original_list.copy()
#copied_list.append(26)
#print("original list:", original_list)
#print("copied list:", copied_list)

original list: [1, 2, 3, 4, 5]
copied list: [1, 2, 3, 4, 5, 26]

10. Clear all elements from a list [“hello”, “world”, “python”] using the clear()
method

In [ ]:
#actual_list = ["hello", "world", "python"]
#actual_list.clear()
#print(actual_list)

[]

**Tuple-Based Questions**

11. Create a tuple with 5 different fruits and print the third fruit.

In [ ]:
#list_of_fruits = ( "banana", "cherry", "starfruit", "orange", "kiwi")
#print("The third fruit in the given list is:",list_of_fruits[2])

The third fruit in the given list is: starfruit

12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert
it back into a tuple.

In [1]:
number_tuple = (10, 20, 30, 40, 50)
number_list = list(number_tuple)
number_list.remove(30)
updated_tuple = tuple(number_list)
print("Updated Tuple:", updated_tuple)

Updated Tuple: (10, 20, 40, 50)

In [ ]:
print(type(list))

<class 'list'>

13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you
modify a tuple indirectly?

In [3]:
alphabet = ("A", "B", "C")
list_of_alphabet = list(alphabet)
list_of_alphabet.append("D")
updatedd_tuple = tuple(list_of_alphabet)
print(updatedd_tuple)

('A', 'B', 'C', 'D')

14. Unpack the tuple (100, 200, 300) into three separate variables and print them

In [5]:
my_tuple = (100, 200, 300)
y, h, k = my_tuple
print("y =", y)
print("h =", h)
print("k =", k)

y = 100
h = 200
k = 300

15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [7]:
my_tuple = (7, 1, 7, 3, 7, 5)
count_of_7 = my_tuple.count(7)
print("The number 7 is repeated", count_of_7, "times")

The number 7 is repeated 3 times

**Advanced Problems**

16. Write a function that takes a list and returns a new list with all even numbers removed.

In [9]:
def remove_even_numbers(input_list):
    odd_numbers = []
    for number in input_list:
        if number % 2 != 0:
            odd_numbers.append(number)
    return odd_numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = remove_even_numbers(numbers)
print("list with even numbers removed:" , result)

list with even numbers removed: [1, 3, 5, 7, 9]

17. Create a function that accepts a list and returns a new list with elements sorted in
descending order without using the sort() method.

In [10]:
def sort_descending(input_list):
    n = len(input_list)
    for i in range(n):
        max_index = i
        for j in range(i + 1, n):
            if input_list[j] > input_list[max_index]:
                max_index = j
        input_list[i], input_list[max_index] = input_list[max_index], input_list[i]
    return input_list
numbers = [5, 2, 9, 1, 5, 6]
sorted_numbers = sort_descending(numbers)
print("sorted list (Descending): ", sorted_numbers)

sorted list (Descending):  [9, 6, 5, 5, 2, 1]

18. Given a list of numbers, write a program to remove all duplicate elements and print the
unique elements.

In [11]:
def remove_duplicates(input_list):
    unique_set = set(input_list)
    unique_list = list(unique_set)
    return unique_list
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = remove_duplicates(numbers)
print("unique elements:", unique_numbers)

unique elements: [1, 2, 3, 4, 5]

19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert
it into a list, remove duplicates, and convert it back to a tuple

In [12]:
names_tuple = ("Alice", "Bob", "Charlie", "Alice", "David")
names_list = list(names_tuple)
unique_names_set = set(names_list)
unique_names_list = list(unique_names_set)
unique_names_tuple = tuple(unique_names_list)
print("unique names tuple:" , unique_names_tuple)

unique names tuple: ('Bob', 'David', 'Alice', 'Charlie')

20. Create a program that takes a list of mixed data types (int, str, float) and separates
integers into one list, strings into another, and floats into another

In [13]:
def separate_data_types(input_list):
    integers = []
    strings = []
    floats = []
    for item in input_list:
        if type(item) == int:
            integers.append(item)
        elif type(item) == str:
            strings.append(item)
        elif type(item) == float:
            floats.append(item)
    return integers, strings, floats
mixed_list = [10, "Yousra", 3.15, 23, "Hassan", 9.9, 26, "Khan"]
integers, strings , floats = separate_data_types(mixed_list)
print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

Integers: [10, 23, 26]
Strings: ['Yousra', 'Hassan', 'Khan']
Floats: [3.15, 9.9]